@model _23dh111584_MyStore.Models.Product

<head>
    <style>
        img{
            height: 250px;
            max-width: 250px;   
        }
    </style>
</head>

<div class="container-fluid">
    <div class="dl-horizontal">
        <div class="col-md-4">
            <img src="@Html.DisplayFor(model => model.ProductName)"/>
        </div>

        <div class="col-md-8">
            <dl>
                <dt>Tên sản phầm</dt>
                <dd>@Html.DisplayFor(model => model.ProductName) </dd>

                <dt>Mô tả</dt>
                <dd>@Html.DisplayFor(model => model.ProductDescription) </dd>

                <dt>Đơn giá</dt>
                <dd>@Html.DisplayFor(model => model.ProductPrice) </dd>

                <dt>Hình ảnh</dt>
                <dd>@Html.DisplayFor(model => model.ProductImage) </dd>

                <dt>Danh mục</dt>
                <dd>@Html.DisplayFor(model => model.Category.CategoryName) </dd>
            </dl>
        </div>
    </div>
</div>
